.soc-block {
    top: 5px;
    display: flex;
    margin: auto;
    margin-right: 0;
}
.soc-block li a {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    // padding-top: 0.5rem;
}
// .soc-block li svg {
//     fill: #fff;
// }

// li a svg {
//     transition: transform 0.2s;
//     margin: 0 auto;
//     color: black;
// }
// li a svg:hover {
//     transform: scale(1.2);
// }
