.home .slider_text {
    background-color: rgb(53, 51, 51);
    opacity: 0.8;
    box-shadow: 10px 10px 10px 10px rgb(53, 51, 51);
    // background-color: gba(0, 0, 0, 0.8);
    font-size: 5rem;
    margin-bottom: 2rem;
    // margin-top: 3rem;
}
.carusele-block {
}
.carusele_img-block {
    height: 70vh;
}
.carusele_img {
    margin: auto;
    // align-items: center;
    // height: auto;
    // max-height: 80vh;
    width: 100%;
    overflow: hidden;
}
@media (max-width: 767px) {
    .home .slider_text {
        box-shadow: 5px 5px 5px 5px rgb(53, 51, 51);
    }
    .home .slider_text {
        font-size: 3rem;
        margin-bottom: 1rem;
    }
}

@media (max-width: 520px) {
    .home .slider_text {
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }
}
@media (max-width: 360px) {
    .home .slider_text {
        font-size: 1.75rem;
        margin-bottom: 0.5rem;
    }
}
