.navbar {
    background: rgba(0, 0, 0, 0.8) !important;
    backdrop-filter: saturate(180%) blur(20px);
}

.logo_tsv {
    margin: -8px 0 -8px 0;
    height: 65px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.8);
}
.logo_tsv:hover {
    filter: sepia(0.5);
    transition: 0.3s;
}

.nav-link-contacts {
    // color: black !important;
}

.header li a svg {
    fill: #fff;
}
.header .phones_block .logo-mob-title {
    // margin-bottom: 7px;
    // margin-top: 5px;
}
.header .phones_block .logo-mob-img {
    // margin-right: 5px;
    // margin-top: -5px;
}

@media (max-width: 992px) {
    .header .soc-block {
        // font-size: 1.75rem;
        // margin: 0.75rem 0.75rem 0.75rem -2.5rem;
    }
}
