.navbar {
    background: rgba(0, 0, 0, 0.8) !important;
    backdrop-filter: saturate(180%) blur(20px);
}

.logo_tsv {
    margin: -8px 0 -8px 0;
    height: 65px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.8);
}
.logo_tsv:hover {
    filter: sepia(0.5);
    transition: 0.3s;
}

.nav-link-contacts {
    color: black !important;
}
.logo-mob-title {
    margin-bottom: 3px;
}
.logo-mob-img {
    width: 25px;
    margin-right: 5px;
}

.header .soc-block li svg {
    fill: #fff;
}
