.navbar {
    background: rgba(0, 0, 0, 0.8) !important;
    backdrop-filter: saturate(180%) blur(20px);
}
.logo {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.soc-block {
    top: 5px;
    display: flex;
    // text-align: center;
    margin: auto;
    margin-right: 0;
}
.soc-block li a {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    // padding-top: 0.5rem;
}
.soc-block li svg {
    fill: #fff;
}
.nav-link-contacts {
    color: black !important;
}
