.footer {
    margin-top: auto;
    border-top: 1px solid #d2d2d7;
}
// .container {
//     margin: 0 auto;
//     max-width: 80%;
// }

a {
    text-decoration: none;
    color: black;
}
li a svg {
    transition: transform 0.2s;
    margin: 0 auto;
    color: black;
}
li a svg:hover {
    transform: scale(1.2);
}
.article-list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    padding-top: 15px;
    margin: 0;
    padding-left: 10px;
}
