.footer {
    margin-top: auto;
    border-top: 1px solid #d2d2d7;
}
.footer span {
    margin-top: 5px;
    font-size: 12px;
    margin-left: 8px;
}

// .footer a {
//     text-decoration: none;
//     color: black;
// }

.article-list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    padding-top: 15px;
    margin: 0;
    padding-left: 0;
}

.footer li a svg {
    fill: #000;
}
@media (max-width: 428px) {
    .git-icon {
        display: none;
    }
    .footer span {
        margin-top: 0px;
        // font-size: 0px;
        margin-left: 0px;
    }
}
