html {
    overflow-y: scroll;
    margin: 0 auto;
    background-color: rgb(243, 241, 234);
    // font-size: 18px;
    display: inline-block;
    max-width: 100%;
}
* li {
    list-style: none;
}
a {
    text-decoration: none;
}
// text-align: center;
.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.footer {
    margin-top: auto;
}
// .content {
//     padding: 50px;
// }
.wrapper {
    margin: 0 auto;
    max-width: 1320px;
}
p,
h3,
h4,
h5 {
    padding: 10px 15px 10px 15px;
    font-family: "Open Sans", sans-serif;
}
