* {
    font-family: "Open Sans", sans-serif;
}
html {
    overflow-y: scroll;
    margin: 0 auto;
    background-color: rgb(243, 241, 234);
    // font-size: 18px;
    display: inline-block;
    max-width: 100%;
    // line-height: 1.7rem !important;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

h5,
p {
    line-height: 1.7rem !important;
    margin-bottom: 0px !important;
}

// text-align: center;
.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.footer {
    margin-top: auto;
}

.wrapper {
    // margin: 0 auto;
    // max-width: 1320px;
}
li a svg {
    width: 2.5rem;
    height: 2.5rem;
    transition: transform 0.2s;
    margin: 0 auto;
}

li a svg:hover {
    transform: scale(1.2);
}
.content-container {
    margin: 0 auto;
    padding: 1.5rem;
    max-width: 1320px;
}
.content_mini-container {
}
.content_mini-container_img {
    width: 35%;
    height: 100%;
}

.accordion-item {
    // border: 5px solid rgba(0, 0, 0, 0.125) !important;
}

@media (max-width: 380px) {
    .content_mini-container_img {
        display: none;
    }
}
