* {
    font-family: "Open Sans", sans-serif;
}
html {
    overflow-y: scroll;
    margin: 0 auto;
    background-color: rgb(243, 241, 234);
    // font-size: 18px;
    display: inline-block;
    max-width: 100%;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

// text-align: center;
.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.footer {
    margin-top: auto;
}
// .content {
//     padding: 50px;
// }
.wrapper {
    margin: 0 auto;
    // max-width: 1320px;
}
li a svg {
    width: 2.5rem;
    height: 2.5rem;
    transition: transform 0.2s;
    margin: 0 auto;
}

li a svg:hover {
    transform: scale(1.2);
}
.content-container {
    padding: 1.5rem;
}
