html {
    overflow-y: scroll;
    margin: 0 auto;
    background-color: rgb(243, 241, 234);
    // font-size: 18px;
    display: inline-block;
    max-width: 100%;
}
* li {
    list-style: none;
}
a {
    text-decoration: none;
}
// text-align: center;
